.App {
  text-align: center;
  background-color: red;
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.newImage {
  padding: 10% 0% 10% 0%;
  margin: 0px auto;
}

.newContainer {
  position: relative;
}

.newContainer:hover .overlay {
  transform: scale(1);
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 8%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  height: 84%;
  width: 89.5%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  text-align: center;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  left: 10%;
  top: 85%;
  text-align: center;
}

.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
